.main-header {
  background-color: #514077;
}
.main-header .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container {
  width: 50%;
  margin-right: 0;
}
@media screen and (min-width: 1280px) {
  .logo-container {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .logo-container {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .logo-container {
    width: 30%;
  }
}

.logo {
  width: 100%;
}

.icon-menu {
  margin-left: auto;
  font-size: 2em;
  color: #FFFFFF;
  opacity: 0.7;
}
.icon-menu:hover {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .icon-menu {
    font-size: 2.5em;
  }
}

.banner {
  position: relative;
}
.banner__img {
  display: block;
  width: 100%;
}
.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(160deg, #514077, #FFAD01);
  opacity: 0.4;
}

.banner__copy {
  z-index: 10;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFFFFF;
  text-align: center;
}
.banner__copy__title {
  font-size: 1.3em;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .banner__copy__title {
    font-size: 3em;
  }
}
@media screen and (min-width: 1024px) {
  .banner__copy__title {
    font-size: 4em;
  }
}
@media screen and (min-width: 768px) {
  .banner__copy__content {
    font-size: 2em;
  }
}
@media screen and (min-width: 768px) and (min-width: 1024px) {
  .banner__copy__content {
    font-size: 3em;
  }
}
.banner__copy__button {
  font-size: 0.9em;
}
@media screen and (min-width: 768px) {
  .banner__copy__button {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) {
  .banner__copy__button {
    font-size: 1.6em;
  }
}

.services {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.service {
  width: 100%;
  height: 50vh;
  background-color: #514077;
  color: #d79200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}
@media screen and (min-width: 768px) {
  .service {
    height: 30vh;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 912px) {
  .service {
    height: 45vh;
    font-size: 1.8em;
  }
}
.service:nth-child(2) {
  background-color: #924992;
  color: #FFAD01;
}
.service:nth-child(3) {
  background-color: #FFAD01;
  color: #514077;
}

.service__title {
  margin: 0;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.l-container {
  width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .staff-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.staff-title {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .staff-title {
    font-size: 2em;
    margin: 0.5em 0 0;
  }
}

.staff-member {
  background-color: rgba(81, 64, 119, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: thin solid rgba(146, 73, 146, 0.4);
  margin: 1em 0;
  padding: 1em 1.5em;
  width: inherit;
}
@media screen and (min-width: 768px) {
  .staff-member {
    width: 40%;
  }
}
@media screen and (min-width: 1280px) {
  .staff-member {
    width: 20%;
  }
}

.staff-img {
  border-radius: 50%;
  border: 3px solid #514077;
}

.staff-name {
  font-size: 1.2em;
  color: #924992;
}
@media screen and (min-width: 768px) {
  .staff-name {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
  }
}

.staff-button {
  font-size: 0.8em;
}
@media screen and (min-width: 768px) {
  .staff-button {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .contact-data-container {
    width: 48%;
  }
}
@media screen and (min-width: 768px) {
  .contact-form-container {
    width: 48%;
  }
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle {
  border-bottom: 1px solid rgba(81, 64, 119, 0.5);
}

.contact-map {
  height: 50vh;
}

.icon-marker,
.icon-phone {
  color: #924992;
}
.icon-marker::before,
.icon-phone::before {
  position: relative;
  top: 2.5px;
  color: #514077;
  font-size: 1.1em;
}

iframe {
  height: inherit;
  width: 100%;
}

label > input,
textarea {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.main-footer {
  margin-top: 1em;
  height: 3.2em;
  background-color: #514077;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}
.main-footer a {
  opacity: 0.7;
}
.main-footer a:hover {
  opacity: 1;
}

.main-nav {
  width: 12em;
  height: 100vh;
  background-color: #FFAD01;
  position: fixed;
  top: 0;
  right: -12em;
  z-index: 30;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.main-nav.show {
  right: 0;
}

body {
  position: relative;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body.show {
  right: 12em;
}

.main-menu {
  padding-top: 0.3em;
  list-style: none;
  text-transform: uppercase;
  padding-left: 0;
}

.main-menu__item {
  padding: 0 1em 1em;
  border-bottom: 1px solid rgba(146, 73, 146, 0.5);
  margin: 1em;
}

.main-menu__link {
  color: #514077;
}

.button {
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.2em;
}
.button.primary {
  background-color: #514077;
}
.button.primary:hover {
  background-color: #413460;
}
.button.second {
  background-color: #924992;
}
.button.second:hover {
  background-color: #7a3d7a;
}
.button.third {
  color: #514077;
  background-color: #FFAD01;
}
.button.third:hover {
  background-color: #dc9500;
}

input[type=submit] {
  color: #FFAD01;
  width: 30%;
  font-size: 1em;
  border: none;
}