.main-header {
  background-color: #514077;
}
.main-header .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-container {
  width: 50%;
}

.logo {
  width: 100%;
}

.icon-menu {
  margin-left: auto;
  margin-right: 0.5em;
  font-size: 2em;
  color: #FFFFFF;
}

.main-menu {
  display: none;
}

body {
  margin: 0;
}