//PALETA DE COLOR

$color1: #514077;
$color2: #924992;
$color3: #FFAD01;
$black: #111111;
$white: #FFFFFF;




@import "components/header";
@import "components/banner";
@import "components/services";
@import "components/base";