//PALETA DE COLOR

$color1: #514077;
$color2: #924992;
$color3: #FFAD01;
$black: #111111;
$white: #FFFFFF;

$offcanvas : 12em;

//Mixins para media query

@mixin desde($size){
    @media screen and (min-width: $size) {
        @content;}
}

// breakpoints
$small: 360px;
$medium: 768px;
$large: 912px;
$x-large: 1280px;

// minor breakpoint
$minor-1024: 1024px;

@import "components/header";
@import "components/banner";
@import "components/services";
@import "components/base";
@import "components/staff";
@import "components/contact";
@import "components/footer";
@import "components/menu";
@import "components/button";