img(src="img/banner.jpg", alt="Beaty Salon - Chica hermosa").banner__img
.banner__copy
  h1.banner__copy__title Tu belleza y estilo en nuestras manos
  p.banner__copy__content Profesionales a tu servicio
  a.banner__copy__button.button.primary Conoce más