//- header.main-header padre de todos
.l-container
  a(href="/").logo-container
    img(src="img/logo.png" alt="Beaty Salon").logo
  #togle-menu.icon.icon-menu
  nav.main-nav#main-nav
    ul.main-menu
      li.main-menu__item: a(href="#").main-menu__link
      li.main-menu__item: a(href="#").main-menu__link
      li.main-menu__item: a(href="#").main-menu__link
      li.main-menu__item: a(href="#").main-menu__link
      li.main-menu__item: a(href="#").main-menu__link
      li.main-menu__item: a(href="#").main-menu__link