.staff-container.l-container#staff
  h3.staff-title staff
  .staff-member
    img(src="img/staff-1.jpg", alt="Sandra").staff-img
    h4.staff-name Sandra
    a(href="#").staff-button.button.third Pedir cita
  .staff-member
    img(src="img/staff-1.jpg", alt="Carmen").staff-img
    h4.staff-name Carmen
    a(href="#").staff-button.button.third Pedir cita 
  .staff-member
    img(src="img/staff-1.jpg", alt="Pablo").staff-img
    h4.staff-name Pablo
    a(href="#").staff-button.button.third Pedir cita 
  .staff-member
    img(src="img/staff-1.jpg", alt="Victoria").staff-img
    h4.staff-name Victoria
    a(href="#").staff-button.button.third Pedir cita 
