
.contact-container{
    display: flex;
}

.subtitle{
    border-bottom: 1px solid rgba($color: $color1, $alpha: .5);

}

.contact-map{
    height: 50vh;
}

.icon-marker,
.icon-phone{
    color: $color2;
    &::before{
        position: relative;
        top: 2.5px;
    color: $color1;
    font-size: 1.1em;
    }
}

iframe{
    height: inherit;
    width: 100%;
}

label > input,
textarea{
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}