.main-footer{
    margin-top: 1em;
    height: 3.2em;
    background-color: $color1;
    color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    & a{
        opacity: 0.7;
    }
    & a:hover{
        opacity: 1;
    }

}
