.main-header{
  background-color: $color1;
  .l-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-container{
  width: 50%;
  margin-right: 0;
}

.logo{
  width: 100%;
}

.icon-menu{
  margin-left: auto;
  font-size: 2em;
  color: $white;

  
}