.main-header{
  background-color: $color1;
  .l-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-container{
  width: 50%;
  margin-right: 0;
  @include desde($x-large){
   width: 30%;
}
 
  @include desde($medium){
    width: 40%;
}
@include desde($medium){
  width: 30%;
}
}

.logo{
  width: 100%;
}

.icon-menu{
  margin-left: auto;
  font-size: 2em;
  color: $white;
  opacity: .7;
  &:hover{
    opacity: 1;
  }
  @include desde($medium){
    font-size: 2.5em;
}
  
}